.homeback{
    overflow: hidden;
    /*background-color: #0c2646;*/
    background-image: url('../images/homeBack.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.custom-btn1 {
    background: green;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 20px;
    text-transform: uppercase;
    align-content: center;


}